.blog-link {
    top: 300px; left: -70px;
}

.hero-heading {
    padding-top: 50px;
    @apply .pl-8;

    @media(min-width: config('screens.md')) {
        padding-top: 100px;
        padding-left: 100px;
    }

    @media(max-width: config('screens.sm')) {
        @apply .text-lg;
    }
}