@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#menu-link {
  z-index: 9999;
}

.menu-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  color: white;
  transition: opacity 200ms ease-in-out;

  &.open {
    opacity: 1;
    pointer-events: all;
  }

  .menu-item {
    &.open {
      display: block;
    }
    display: none;
    opacity: 0;
    width: 30%;
    text-align: center;
    padding: 4rem 0;
    margin-bottom: 2rem;
    font-size: 28px;
    border: 2px solid white;
    animation-name: fadein;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    transform: translateY(10px);

    a {
      color: white;
      text-decoration: none;

      span.dashicons:before {
        font-size: 28px;
        display: block;
      }
    }
  }

  @for $i from 0 through 20 {
    .menu-item:nth-child(#{$i}) {
      $delay: 300 + $i * 100 * 1ms;
      animation-delay: $delay;
    }
  }
}
