@import 'components/home';

.profile-img {
    @apply .rounded-full .border-purple .border-8;
    max-width: 10rem;
    margin-top: -5rem;
}

.btn {
    @apply .text-center .rounded .py-8 .px-2 .cursor-pointer .text-4xl .max-w-xs .shadow-md;
}

.btn:hover {
    @apply .shadow-lg;
}

.btn a {
    text-decoration: none;
    color: config('colors.grey-lighter')
}

.btn-white {
    @apply .text-grey-darker .bg-grey-lighter;
}

.btn-purple {
    background-color: config('colors.purple')
}

form {
    .input-row {
        @apply .justify-between .mx-auto .max-w-lg .flex;

        @media(max-width: config('screens.sm'))
        {
            @apply .flex-col;
        }
    }
    
    input, textarea {
        @apply .py-4 .px-2 .flex-1 .mx-4 .rounded .shadow .leading-normal .my-4;
    }

    .btn {
        @apply .mx-4 .flex-1;
    }
}
